@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body{
    font-family: "MedievalSharp", cursive;
    background-color: black;
}

#parrafo-presentacion {
    color: white;
    font-size: 56px;
    margin: 30px;
}

#portada-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#boton-comenzar {
    background-image: url(./assets/boton-comenzar.png);
    background-color: transparent;
    border: red;
    width: 160px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

#boton-comenzar:hover {
    background-image: url(./assets/boton-comenzar-hover.png);
}

#instrucciones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#instrucciones-teclas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#parrafo-instrucciones {
    color: white;
    font-size: 38px;
    margin-bottom: 0px;
    margin-top: 10px;
}

#boton-instrucciones {
    background-image: url(./assets/boton-instrucciones.png);
    background-color: transparent;
    border: red;
    width: 160px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

#boton-instrucciones:hover {
    background-image: url(./assets/boton-instrucciones-hover.png);
    background-color: transparent;
    border: red;
    width: 160px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

#boton-siguiente {
    background-image: url(./assets/boton-siguiente.png);
    background-color: transparent;
    border: red;
    width: 160px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

#boton-siguiente:hover {
    background-image: url(./assets/boton-siguiente-hover.png);
}

#boton-volver {
    background-image: url(./assets/boton-volver.png);
    background-color: transparent;
    border: red;
    width: 160px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

#boton-volver:hover {
    background-image: url(./assets/boton-volver-hover.png);
}

#seleccionar-pj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mostrar-mensajes {
    display: flex;
    justify-content: center;
}

.titulo {
    color:white;
    font-size: 40px;
    font-family: "MedievalSharp", cursive;
    align-items: center;
    margin: -5px;
}

.subtitulo {
    margin: 20px;
    color:white;
    font-size: 30px;
    align-items: center;
}

.subtitulo-instrucciones {
    margin: 20px;
    color:white;
    font-size: 20px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

}

.titulo-ataques {
    color:white;
    font-size: 34px;
    font-family: "MedievalSharp", cursive;
    align-items: center;
    margin: -5px;
}

.subtitulo-ataques {
    margin: 0px;
    color:white;
    font-size: 30px;
    align-items: center;
}

.subtitulo-escenario {
    margin: 0px;
    color:white;
    font-size: 30px;
    align-items: center;
}

#resultado-mazmorra {
    margin: 0px;
    color:white;
    font-size: 30px;
}

.tarjetas {
    display: flex;
  }

.tarjeta-de-personaje {
    background-image: url(./assets/crystalball-alt.png);
    width: 308px;
    height: 333px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: deepskyblue;
    background-repeat: no-repeat;
    text-shadow: 0px -2px 2px mediumblue;
    flex-direction: column-reverse;
}

.tarjeta-de-personaje:hover {
    background-image: url(./assets/crystalball2-hover.png);
    color:black ;
    margin: 10px;
}

#boton-pj {
    background-image: url(./assets/boton-select2.png);
    background-color: transparent;
    border: red;
    width: 160px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

#boton-pj:hover {
    background-image: url(./assets/boton-select2hover.png);
}

#reiniciar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fin-juego {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    background-image: url(./assets/boton-reiniciar.png);
    background-color: transparent;
    border: red;
    width: 160px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

#boton-reiniciar:hover {
    background-image: url(./assets/boton-reiniciar-hover.png);
}

#ver-escenario {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#boton-siguiente-mazmorra {
    background-image: url(./assets/boton-avanzar.png);
    background-color: transparent;
    border: red;
    width: 160px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

#boton-siguiente-mazmorra:hover {
    background-image: url(./assets/boton-avanzar-hover.png);
}

#boton-magia {
    background-image: url(./assets/boton-magia.png);
    background-color: transparent;
    border: red;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

#boton-magia:hover {
    background-image: url(./assets/boton-magia-hover.png);
}

#boton-espada {
    background-image: url(./assets/boton-espada.png);
    background-color: transparent;
    border: red;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

#boton-espada:hover {
    background-image: url(./assets/boton-espada-hover.png);
}

#boton-daga {
    background-image: url(./assets/boton-daga.png);
    background-color: transparent;
    border: red;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

#boton-daga:hover {
    background-image: url(./assets/boton-daga-hover.png);
}


#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-de-personaje img {
    width: 80px;
}

#barras-vidas {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    margin-bottom: 5px;
}

#barra-jugador-container, #barra-enemigo-container {
    width: 45%;
    text-align: center;
}

#barra-jugador, #barra-enemigo {
    width: 100%;
    height: 37px;
    background-color: #f44336;
    border-radius: 10px;
    overflow: hidden;
}

#barra-jugador div, #barra-enemigo div {
    height: 100%;
    background-color: #4CAF50;
    transition: width 0.5s ease-in-out;
}

#nombre-jugador, #nombre-enemigo {
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

#vida-jugador-texto, #vida-enemigo-texto {
    font-size: 0.8em;
    color: black;
    margin-top: 5px;
    display: block;
}

input {
    display: none;
}

input:checked + label {
    background-image: url(./assets/crystalball2-hover.png);
    color: black;
  }

#mensajes {
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: -15px;
    font-size: 24px;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
}
  
#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}
  
.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 560px) {
    .tarjetas {
      flex-direction: column;
    }
  }